$blue1: #177E89;
$blue2: #084C61;
$green2: #004f2d;
$green1: #0a8754;
$red: #DB3A34;
$yellow: #FFC857;
$dark: #343234;
$dark2: #1F1E1F;
$dark3: #141414;
$light: #EBEAEB;

.dairies{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;

    scrollbar-width: thin;
    scrollbar-color: $red $dark3;

    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-track {
        background: $dark3;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $red;
        border-radius: 20px;
        border: 3px solid orange;
    }

    .dairy{
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 75vw;

        padding: 20px;
        margin: 15px;

        background: $dark3;
        border-left: 10px solid rgba($red, $alpha: 0);
        border-radius: 10px;

        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        &:hover{
            border-radius: 0;
            border-left: 10px solid rgba($red, $alpha: 1);
            transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        }

        a{
            color: $light;
            text-decoration: none;
            &:hover{
                color: $yellow;
            }
        }

        .pic{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 120px;
                height: 118px;
                object-fit: contain;
            }
        }
    }
}

.full-dairy{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: $red $dark3;

    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-track {
        background: $dark3;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $red;
    }

    padding: 20px;
    .picture{
        height: 400px;
        width: 398px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .dash{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            h2{
                margin: 15px 20px;
                font-size: 35px;
                font-weight: bolder;
            }

            input[type="submit"]{
                margin: 15px 20px;
                padding: 10px;
                height: 50px;
                width: 130px;

                background: $red;
                color: $light;
                font-size: 15px;
                font-weight: bold;

                border: 2px solid $light;
                border-radius: 50px;
                transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                &:hover{
                    border: 2px solid $red;
                    background: $light;
                    color: $red;
                    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
            }
        }

        .body{
            padding: 10px;
            background: $dark3;
            line-height: 2em;
            border-radius: 20px;
        }
    }
}
