

<div class="navbar">
    <div class="header">
        <h2>Diaries</h2>
    </div>
    <ul class="list-items">
        <li class="nav-item">
            <div class="icon">
                <img src="../icons/falcon.png" alt="">
            </div>
            <div class="title">
                <a href="/all">All Diaries</a>
            </div>
        </li>
        <li class="nav-item">
            <div class="icon">
                <img src="../icons/bear.png" alt="">
            </div>
            <div class="title">
                <a href="/add">Add a Diary</a>
            </div>
        </li>
        <li class="nav-item">
            <div class="icon">
                <img src="../icons/dinosaur.png" alt="">
            </div>
            <div class="title">
                <a href="#">Others</a>
            </div>
        </li>
    </ul>
</div>

